pkgbase = eeka
	pkgdesc = Mouse button combinator and remapper
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/budlabs/eeka
	arch = x86_64
	license = 0BSD
	depends = libxcb
	depends = xcb-util-keysyms
	source = https://github.com/budlabs/eeka/archive/refs/tags/0.1.1.tar.gz
	sha512sums = SKIP

pkgname = eeka
