pkgbase = i3ass
	pkgdesc = A bash-script collection to assist the use of i3-wm.
	pkgver = 2025.12.27.1
	pkgrel = 1
	url = https://github.com/budlabs/i3ass
	arch = any
	license = MIT
	makedepends = gawk
	makedepends = sed
	depends = bash>=4.0.0
	depends = i3-wm
	depends = gawk
	depends = sed
	optdepends = xdotool
	optdepends = i3menu
	source = https://github.com/budlabs/i3ass/archive/2025.12.27.1/i3ass-2025.12.27.1.tar.gz
	sha256sums = 852eb901cd8b331cf3ec02ea4da853d41ea2db637f0078ed99ef8a807e9d6016

pkgname = i3ass
